<div class="slide" data-transition="none"><div class="content title-slide" ref="one/slidesA/1">
<p class="notes">first slide</p>

<h1>First Slide</h1></div>
</div><div class="slide" data-transition="fade"><div class="content bullets incremental" ref="one/slidesA/2">
<p class="notes">something something something something something something something something something something something something something something something dark side</p>

<h1>Second Slide</h1>

<ul>
<li>something</li>
<li>something else</li>
<li>a third thing</li>
<li>a fourth thing</li>
<li>a fifth thing</li>
</ul>
</div>
</div><div class="slide" data-transition="scrollUp"><div class="content center" ref="one/slidesA/3">
<p class="notes">another dark side</p>

<p><img src="/image/one/octocat.png" alt="octocat"/></p></div>
</div>
classes: ["content"]
transition: none
classes: ["content", "commandline", "incremental"]
transition: none
classes: ["content", "commandline", "incremental"]
transition: none
<div class="slide" data-transition="none"><div class="content" ref="one/slidesB/1">
<p class="notes">notes for my slide</p>

<pre class="sh_javascript"><code>function setupPreso() {
  if (preso_started)
  {
     alert("already started")
     return
  }
  preso_started = true

  loadSlides()
  doDebugStuff()

  document.onkeydown = keyDown
}</code></pre></div>
</div><div class="slide" data-transition="none"><div class="content commandline incremental" ref="one/slidesB/2">
<pre><code><code class="command">$ git commit -am 'incremental bullet points working'</code><code class="result">
[master ac5fd8a] incremental bullet points working
 2 files changed, 32 insertions(+), 5 deletions(-)
</code></code></pre></div>
</div><div class="slide" data-transition="none"><div class="content commandline incremental" ref="one/slidesB/3">
<pre><code><code class="command">$ git commit -am 'incremental bullet points working'</code><code class="result">
[bmaster ac5fd8a] incremental bullet points working
 2 files changed, 32 insertions(+), 5 deletions(-)

</code><code class="command">$ git commit -am 'incremental bullet points working'</code><code class="result">
[cmaster ac5fd8a] incremental bullet points working
 2 files changed, 32 insertions(+), 5 deletions(-)
</code></code></pre></div>
</div>
classes: ["content", "subsection"]
transition: none
classes: ["content"]
transition: none
classes: ["content", "execute"]
transition: none
classes: ["content"]
transition: none
<div class="slide" data-transition="none"><div class="content subsection" ref="two/slidesA/1">
<h1>Subsection Slide</h1></div>
</div><div class="slide" data-transition="none"><div class="content" ref="two/slidesA/2">
<h1>Code Slide</h1>

<pre class="sh_ruby"><code>require 'sinatra/base'

class MyApp &lt; Sinatra::Base
  set :sessions, true
  set :foo, 'bar'

  get '/' do
    'Hello world!'
  end
end </code></pre></div>
</div><div class="slide" data-transition="none"><div class="content execute" ref="two/slidesA/3">
<h1>Executable JavaScript</h1>

<pre class="sh_javaScript"><code>result = 3 + 3;</code></pre></div>
</div><div class="slide" data-transition="none"><div class="content" ref="two/slidesA/4">
<h1>Write your own slides</h1>

<h2>Using <a href="http://daringfireball.net/projects/markdown/">markdown</a></h2>

<pre><code>!SLIDE

# Title of the slide #

How easy is this?
</code></pre></div>
</div>
classes: ["content", "subsection"]
transition: none
classes: ["content", "custom_and_unique_class"]
transition: none
classes: ["content", "prevent_default"]
transition: none
classes: ["content"]
transition: none
<div class="slide" data-transition="none"><div class="content subsection" ref="three/js-events/1">
<h1>Custom events</h1></div>
</div><div class="slide" data-transition="none"><div class="content custom_and_unique_class" ref="three/js-events/2">
<h1>1st Example h1</h1>

<script>
// bind to custom event
$(".custom_and_unique_class").bind("showoff:show", function (event) {
  // animate the h1
  var h1 = $(event.target).find("h1");
  h1.delay(500)
    .slideUp(300, function () { $(this).css({textDecoration: "line-through"}); })
    .slideDown(300);
});
</script>
</div>
</div><div class="slide" data-transition="none"><div class="content prevent_default" ref="three/js-events/3">
<h1>2nd Example h1</h1>

<script>
$(".prevent_default").bind("showoff:next", function (event) {
  var h1 = $(event.target).find("h1");
  if (h1.css("text-decoration") === "none") {
    event.preventDefault();
    h1.css({textDecoration: "line-through"})
  }
});
</script>
</div>
</div><div class="slide" data-transition="none"><div class="content" ref="three/js-events/4">
<h1>Switched</h1></div>
</div>

